.App {
  text-align: center;
  background-color: #d5e9f5;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

img {
  width: 150px;
  margin-top: 5px;
}

div {
  margin: 5px;
}

#like-btn {
  height: 40px;
  width: 40px;
}

#like-count {
  font-size: 25px;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}